@{
    Layout = "~/Views/Shared/_StatisticsLayout.cshtml";
}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>آمار صنعت معدن ایران</title>
    <link href="~/css/bootstrapmin.css" rel="stylesheet" />
    <script src="~/js/slimmin.js"></script>
    <script src="~/js/propermin.js"></script>
    <script src="~/js/bootstrapmin.js"></script>
    <script src="~/js/hughmaps.js"></script>
    <script src="~/js/countries.js"></script>
    <style>
        body {
            direction: rtl;
            text-align: right;
        }

        .container {
            margin-top: 20px;
        }

        h1 {
            text-align: center;
            font-size: 2rem;
            margin-bottom: 20px;
        }

        .chart-container {
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
            background-color: white;
            border: 1px solid #ccc;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div id="mapContainer" style="width:800px; height: 600px;"></div> <!-- Chart container element -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            Highcharts.mapChart('mapContainer', {
                chart: {
                    map: 'countries/ir/ir-all'
                },
                title: {
                    text: 'بر حسب میزان استخراج'
                },
                series: [{
                    data: [],
                    mapData: Highcharts.maps['countries/ir/ir-all'],
                    joinBy: 'hc-key',
                    name: 'استخراج',
                    states: {
                        hover: {
                            color: '#a4edba'
                        }
                    },
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}'
                    }
                }]
            });
        });
    </script>
</body>
</html>

